<div class="container">
    <h1 class="mt-5">Hello Custom Home Project Tracker!</h1>
    <p class="lead">Thanks for taking the time to poke around this take home project.  I hope you enjoy looking around and I look forward to 
        any feedback you may have, positive or negative.
    </p>
    <p class="mt-3">Please use the default credentials "admin:admin" to login for the demo.</p>
    <a class="btn btn-primary mt-3" asp-controller="Account" asp-action="Login">Login</a>
</div>